iframe {
  width: 100%;
  height: 100vh;
}

.card {
  background-image: url(https://s3-us-west-2.amazonaws.com/i.cdpn.io/1683742.NoPGZN.cc947e17-2721-4f14-a7cb-89a289a0e991.png);
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
